version: "3.7"

services:
    backend:
        build: .
        ports:
            - "8080:8080"
        networks:
            - net
        depends_on:
            - db
    db:
        image: postgres:latest
        environment:
            POSTGRES_USER: x
            POSTGRES_PASSWORD: x
            POSTGRES_DB: ecom
        ports:
            - "5433:5432"
        networks:
            - net
#        volumes:
#            -   data:/var/lib/postgresql/data

networks:
    net:
        driver: bridge

#volumes:
#    data: